{% extends "main/base.html" %}

{% block title %}Кейсы{% endblock %}

{% block content %}
    <div class="fw-medium position-absolute fs-1 top-0 start-0 ms-5 mt-5">
        Кейсы
    </div>

    <div class="fw-normal position-absolute d-flex flex-column gap-3 top-0 end-0 me-5 mt-5">
        <div class="fs-1 d-flex align-items-center">
            <span class="me-4 fw-medium">1</span>
            <span class="fw-medium">SimpleVotings</span>
        </div>
        <span class="fw-medium fs-2 ms-5 opacity-75">
            <p>Учебный проект, в котором я</p>
            <p>реализовал сервис для создания</p>
            <p>голосований и получения обратной связи.</p>
        </span>
    </div>
{% endblock %}
