{% extends "main/base.html" %}

{% block title %}Кейсы{% endblock %}

{% block content %}
    <div class="fw-medium position-absolute fs-1 top-0 start-0 ms-5 mt-5">
        Кейсы
    </div>

    <div class="fw-normal position-absolute d-flex flex-column top-0 end-0 me-5 mt-5">
        <div class="fs-1 d-flex align-items-center">
            <span class="me-4 fw-medium">1</span>
            <span class="fw-medium">SimpleVotings</span>
        </div>
        <span class="fw-medium fs-2 ms-5 opacity-75 d-flex flex-column">
            <p class="mb-0 mt-1">Учебный проект, в котором я</p>
            <p class="mb-0">реализовал сервис для создания</p>
            <p class="mb-0">голосований и получения </p>
            <p class="mb-0">обратной связи</p>
        </span>
        <span class="fw-medium fs-4 ms-5 mt-1 opacity-50 d-flex gap-4">
            <p>Python</p>
            <p>Django</p>
            <p>Bootstrap</p>
            <p>SQLite</p>
        </span>

        <div class="fs-1 d-flex align-items-center">
            <span class="me-4 fw-medium">2</span>
            <span class="fw-medium">ChatBotAI</span>
        </div>
        <span class="fw-medium fs-2 ms-5 opacity-75 d-flex flex-column">
            <p class="mb-0 mt-2">Проект, который я написал на</p>
            <p class="mb-0">Хакатоне во ВШЭ. Я реализовал</p>
            <p class="mb-0">ИИ Telegram-бота, помогающего</p>
            <p class="mb-0">пользователю с учёбой</p>
        </span>
        <span class="fw-medium fs-4 ms-5 mt-1 opacity-50 d-flex gap-4">
            <p>Python</p>
            <p>pyTelegramBotAPI</p>
        </span>
        <div class="fs-1 d-flex align-items-center">
            <span class="me-4 fw-medium">3</span>
            <span class="fw-medium">Этот сайт</span>
        </div>
    <span class="fw-medium fs-4 ms-5 mt-1 opacity-50 d-flex gap-4">
            <p>Python</p>
            <p>Django</p>
            <p>Bootstrap</p>
        </span>
    </div>

{% endblock %}
