@font-face {
    font-family: 'Golos Text';
    src: url("./fonts/GolosText-Regular.ttf") format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Golos Text';
    src: url("./fonts/GolosText-Medium.ttf") format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Golos Text';
    src: url("./fonts/GolosText-SemiBold.ttf") format('truetype');
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: 'Golos Text';
    src: url("./fonts/GolosText-Bold.ttf") format('truetype');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'Golos Text';
    src: url("./fonts/GolosText-ExtraBold.ttf") format('truetype');
    font-weight: 800;
    font-style: normal;
}
@font-face {
    font-family: 'Golos Text';
    src: url("./fonts/GolosText-Black.ttf") format('truetype');
    font-weight: 900;
    font-style: normal;
}
@font-face {
    font-family: 'SF Pro';
    src: url("./fonts/SF-Pro.ttf");
}
.icon {
    font-family: 'SF Pro', sans-serif;
    font-weight: 400;
}
body {
    font-family: 'Golos Text', sans-serif;
    background: linear-gradient(180deg,
        #FFFFFF 80%,
        #D7ADFF 100%);
    min-height: 100vh;
}
.index-link .name {
    color: #212529;
    transition: color 0.3s ease, transform 0.3s ease;
    font-weight: 400;
}
.index-link:hover .name {
    color: rgba(204, 0, 255, 0.3);
    transform: scale(1.03);
}
.skills-link {
    color: #212529;
    transition: color 0.3s ease;
}
.skills-link:hover {
    color: rgba(204, 0, 255, 0.3);
}
.cases-link {
    color: #212529;
    transition: color 0.3s ease, transform 0.3s ease;
    font-weight: 400;
}
.cases-link:hover {
    color: rgba(204, 0, 255, 0.3);
    transform: scale(1.1);
}
.telegram-link {
    color: #212529;
    transition: color 0.3s ease;
}
.telegram-link:hover {
    color: rgba(204, 0, 255, 0.3);
}
